### Numbers

<ul>
    <li>Integers: 1, 2, 100, -4</li>
    <li>Floats: 1.0, 2,532, 3.141592654 </li>
</ul>

In [1]:
#Addition 
1+1

2

In [2]:
#Subtraction 
1-1

0

In [9]:
#Multiple
1*2

2

In [4]:
#Divide
1/2

0.5

In [5]:
#Mod (Remainder)

10%3 # = 10 divided by 3 is 3 remainer 1

1

In [6]:
#expontial 

3**3 #3 * 3 * 3

27

In [7]:
#Number Assignment 
a = 1 

#Note for later 
# = is for assign 
# == is to check if it is equal

In [8]:
#Adding objects 
a+a

2

In [9]:
#Reassign - this is something you can do in python, it's a flexible language! 
a = 10

In [10]:
# add to self
x = 2
x += 10 # add 10 to x, and assign the result to x
print(x)

12

In [11]:
# subtract from self
x = 4
x -= 2 # subtract 2 from x, and assign the result to x
print(x)

2

In [12]:
# multiply from self
x = 5
x *= 3 # multiply 3 to x, and assign the result to x
print(x)

15

In [13]:
# check type 
type(x)

int

### Strings

Strings: An ordered sequence of characters

In [14]:
'hello world'

'hello world'

In [15]:
# pring string, easiest way to see all output immediately
print('Hello')

Hello

In [16]:
# block strings
print(''' 
Hi world!
It is me!
''')

# works the same with """

Hi world!
It is me!

In [17]:
#check type 
print('Hello')
print(type("Hello"))

Hello
<class 'str'>

In [18]:
#check length 
print('Hello')
len("Hello")

Hello

5

In [19]:
#assign to a string 
b = 'Hello World'

In [20]:
#Indexing starts at 0
b[0]

'H'

In [21]:
b[1]

'e'

#### String Concatenation and Interpolation

In [22]:
b

'Hello World'

In [23]:
b + " it's me" # add space

"Hello World it's me"

In [24]:
# string interpolation 
number = 15
print(f'Hello, there are {number} of us in class!') # new way, exist in other languages

Hello, there are 15 of us in class!

In [8]:
# this is in older languages, the .format method 

print("For only {price:.2f} dollars!".format(price =49))

For only 49.00 dollars!

### Lists

List = Ordered sequence of objects 

Examples: 

['Hello', "it's", 2021]
[2019, 2020, 2021]


Lists are constructed with brackets [] and uses , (commas) to seperate elements in the list 

Note: Similiar to arrays in other languages

In [25]:
list_of_years = [2019, 2020, 2021]

In [26]:
# append method 

list_of_years.append(2022)

In [27]:
# should be updated with 2023 now 

print (list_of_years)

[2019, 2020, 2021, 2022]

In [28]:
# pop method 

# popping off the 0th index 
list_of_years.pop(0)

2019

In [29]:
print (list_of_years)

[2020, 2021, 2022]

### Dictionaries 

UNORDERED key value pairs 

{'weather':'66 degrees','day_of_week':'Monday'}

In [30]:
# create a dictionary with key 
my_dict = {'key_1':'value_1','key_2':'value_2','key_3':'value_3'}

In [31]:
my_dict['key_3']

'value_3'

In [32]:
my_new_dict = {'code':'007','names':['James','Bond']}

In [33]:
my_new_dict['names'][0]

'James'

In [34]:
my_new_dict['names'][1].upper()

'BOND'

### TUPLES and SETS 

##### Tuples - Ordered sequence of immutable (non-changable) objects 
 ('hello', 100, "it's me") 
 
Note: Tuples are used for things that shouldn't be changed, like dates on a calendar  
 
##### Sets - Unordered collection of UNIQUE objects (each item will appear once) 

 {'a','b'}

In [35]:
my_tuples = (0, 'One', 2, 'Three', 'One')

In [36]:
# check length 

len(my_tuples)

5

In [37]:
# check index 

my_tuples.index('Three')

3

In [38]:
# check count

my_tuples.count('One')

2

In [39]:
#immutable cant add 

my_tuples.append('Four')

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
#immutable cant reassign 

my_tuples[0] = 'Zero'

TypeError: 'tuple' object does not support item assignment

#### Sets 

unique values

In [41]:
# assign set 

d = set()

In [42]:
d.add(1)

In [43]:
d

{1}

In [44]:
d.add(2)

In [45]:
d

{1, 2}

In [46]:
#will not do anything because sets only have UNIQUE VALUES 

d.add(2)

In [47]:
d

{1, 2}

In [48]:
# List with repeats
list_repeats = [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3]

In [49]:
set(list_repeats)

{1, 2, 3}

### Boolean  and Logical Operations 

##### Booleans are logical value of True or False 

##### Logical operators are the "and", "or", "not" operators.


<table class="table">
<tr>
<th style="width:5%">Operator</th><th style="width:50%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [50]:
e = True

In [51]:
e

True

In [52]:
x = 5
print (x ==5) # == is for comparing values, = is for assigning values

True

In [53]:
x = 5
print(x!=5) #! is used as negation

False

In [54]:
x = 5

print(x > 3 and x < 10)

True

In [55]:
x = 5

print(x > 3 or x < 4)

True

In [56]:
x = 5

print(not(x > 3 and x < 10))

False

### If else statements

In [59]:
x = 10 
y = 20

if x < y:
    print("x is less than y")
else: 
    print("x is greater than y ")

x is less than y

In [60]:
# will evaluate first condition that equals to true
x = 21

if x < 20:
    print("x is smaller than 20.")
elif x > 9:
    print("x is bigger than 9.")
elif x == 10:
    print("x is 10!")
else:
    print("we don't know what x is")

x is bigger than 9.

### For Loops 

For loop is an iterator in python, it items in sequence 

for item in object:
    statements to do stuff

In [61]:
list = ['yellow', 'blue', 'red']

for color in list: # variable name can be anything
     print(color)

yellow
blue
red

In [63]:
num_list = [1,2,3,4,5,6,7,8,9,10]

for number in num_list:
    if number % 2 == 0:
        print('This is an EVEN number')
    else:
        print('This is an ODD number')

This is an ODD number
This is an EVEN number
This is an ODD number
This is an EVEN number
This is an ODD number
This is an EVEN number
This is an ODD number
This is an EVEN number
This is an ODD number
This is an EVEN number

In [64]:
#iterating through a dictionary will only print keys by default 

dic = { 'key_1': 1, 'key_2': 2, 'key_3': 3}

In [65]:
for item in dic:
    print(item)

key_1
key_2
key_3

In [66]:
# to iterate through pairs 

for item in dic.items():
    print(item)

('key_1', 1)
('key_2', 2)
('key_3', 3)

### While Loops 

While loops will keep looping as long as the statement is true. 

while test:
   <br> code statements   <br>
else:
   <br>  final code statements

In [67]:
# This will stop when x is less than or = to 5 because everytime it runs, x goes up by 1 
x = 1
while x <= 5:
    print(x)
    x += 1 # x=x+1 
else: 
    print('done')

1
2
3
4
5
done

In [68]:
# This will go on forever because x is ALWAYS equal to one 

# x = 1
# while x < 5:
#     print(x)

### Functions  

A function is a block of organized, reusable code that is used to perform a single, related action. ... As you already know, Python gives you many built-in functions like print(), etc. but you can also create your own functions. These functions are called user-defined functions.

In [10]:
def greeting():
    print('Hello World!')

In [70]:
greeting() #need parenthesis to run the function

Hello World!

In [71]:
#for loop with function 

for x in range(3):
    greeting()

Hello World!
Hello World!
Hello World!

In [72]:
# functions with return 
def add_number(number1,number2):
    return number1+number2

In [73]:
add_number(1,2)

3

In [74]:
def check_score(points):
    
    highest_score = 0 # start off at 0 and compare to scores 
    winner = ''
    
    for player,score in score_board:
        if score > highest_score:
            highest_score = score
            winner = player
        else: 
            pass #this will do nothing 
    
    return (winner, highest_score)

In [75]:
#tuple unpacking with functions 

score_board = [('Jason', 344), ('Sophie', 433), ('Abigail', 322)]

In [76]:
check_score(score_board)

('Sophie', 433)

### Methods   

Methods are functions built into objects in python. Use the tab.

In [79]:
numbers = [1,2,3,4,5]

In [80]:
numbers.append(6)

In [81]:
my_string = "onCe Upon A TIME..."

print(my_string.lower()) # Convert all chars to lowercase
print(my_string.upper()) # Convert all chars to uppercase
print(my_string.capitalize()) # Convert first char only to uppercase
print(my_string.title()) # Convert string to title case
print(my_string.swapcase()) # Swap all uppercase for lowercase and vice-versa

once upon a time...
ONCE UPON A TIME...
Once upon a time...
Once Upon A Time...
ONcE uPON a time...

In [82]:
# random library (you can explore all the functions)
# https://docs.python.org/3/library/random.html

from random import shuffle

In [83]:
listofstudents = ["abby", "becky", "chad", "derek", "elaine"]

In [84]:
shuffle(listofstudents)

In [85]:
listofstudents

['derek', 'chad', 'elaine', 'abby', 'becky']

In [86]:
def shuffle_students(listofstudents):
    shuffle(listofstudents)
    return listofstudents

In [87]:
results = shuffle_students(listofstudents)

In [88]:
results

['becky', 'derek', 'abby', 'elaine', 'chad']

### What is a Class?

Where objects are direct collections of data and methods that are performed on that data, <b> a Class is a blueprint for a collection of data.</b> When we write a Class, we are writing code that creates spaces and expectations for certain types of data as well as methods that can run on that data. It is essentially a pattern that allows us to write more performant code and lets us scale the complexity of our projects if we use them right. And thanks to Python, object and class creation are built in features of the language. This means that we can create several objects of that blueprint. Objects of classes are called <i>instances.</i>

An instance of a class has access to all of the things that the declaration, the blueprint, defines for the class. With this we can actually separate the behavior of our code from the actual execution of it.

This separation means that Classes have two parts to them, declaration and instantiation. Declaration is where we will make the blueprints and the details of the class. Instantiation will be creating objects of the Class.

In [90]:
#An Example Class Declaration

#Class Name is declared first
class ClassName:
    
    #Initializing function, or Constructor function (called method inside a class)
    #special method that is the init method, called upon whenever creating instance of class 
    def __init__(self):
        return
    
    #Class specific method declaration
    def method(self):
        #Method body goes here
        return

In [92]:
class Dog:
    def __init__(self,breed):
        self.breed = breed
        
baily = Dog(breed='Corgi')
teddy = Dog(breed='Cavalier')

In [93]:
baily.breed

'Corgi'

In [94]:
teddy.breed

'Cavalier'

In [95]:
#pass in an attribute to method 
class Dog:
    
     # Class Object Attribute
     # this is the same for any instance of this class 
    species = 'animal'
    
    def __init__(self,breed,name):
        self.breed = breed
        self.name = name
        
    def speak(self):
        print("Woof, I'm {}".format(self.name)) #need to use self keyword because it's bounded ti this class

In [96]:
my_dog = Dog(breed='Poodle',name ='Chelsea')

In [97]:
my_dog.speak()

Woof, I'm Chelsea

In [98]:
class Circle:
    
    #class object attribute, true regardless of instance 
    pi = 3.14

    # Circle gets instantiated with a radius (default is 1)
    def __init__(self, radius=1):
        self.radius = radius 

    # Method for getting Circumference
    def getCircumference(self):
        return self.radius * self.pi * 2

In [99]:
my_circle = Circle(10)

In [100]:
#hit tab to see attributes + method 
my_circle.pi

3.14

In [101]:
#default value gets override when I intialize it 
my_circle.radius

10

In [102]:
my_circle.getCircumference()

62.800000000000004